<p id="notice"><%= notice %></p>

<p>
  <b>Tutorial:</b>
  <%= @tutorial.list %>
</p>

<%= link_to 'Steps', tutorial_steps_path(@tutorial) %> |
<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
