<h1><%= @tutorial.list =%></h1>

<table>
  <tr>
    <th>Steps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @steps.each do |step| %>
  <tr>
    <td><%= step.list %></td>
    <td><%= link_to 'Show', tutorial_step_path(@tutorial, step) %></td>
    <td><%= link_to 'Edit', edit_tutorial_step_path(@tutorial, step) %></td>
    <td><%= link_to 'Destroy', [@tutorial, step], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Step', new_tutorial_step_path(@tutorial) %> |
<%= link_to 'Tutorial Index', tutorials_path %>
